# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
*.db

# Flutter
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/pubspec.lock

# VS Code
.vscode/

# General
.DS_Store
Thumbs.db